@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
em {
  font-style: normal;
}
body {
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: url("../img/manhattan-407703.jpg") no-repeat center 20% / cover;
  padding: 70px 0 100px;
}
header h2 {
  font-size: 4.5vw;
  padding-top: 90px;
  text-shadow: 0 0 5px rgb(0 0 0 /40%);
}
header h4 {
  font-size: 16px;
  text-shadow: 0 0 5px rgb(0 0 0 /20%);
}

/* section */
section {
  padding: 70px 0;
}
section img {
  max-width: 100%;
}
section h2 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 500;
}
section p {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

section #app {
}
section#app img {
  width: 80px;
  margin-bottom: 50px;
}
section#app h2 {
  margin-bottom: 20px;
}
section#app p {
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 30px;
}
section#app a {
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.outro {
  padding: 0;
}

/*** 1200px 이상 ***/
@media (min-width: 1200px) {
  header {
    padding: 90px 0 100px;
  }
  header h2 {
    font-size: 3.8vw;
  }
  header h4 {
    font-size: 18px;
  }
  /* section */
}

/*** 767px 이하 ***/
@media (max-width: 767px) {
  header {
    padding: 50px 0 70px;
  }
  header h2 {
    font-size: 36px;
  }
  header h4 {
    font-size: 13px;
  }
  header button {
    transform: scale(0.7);
  }
  header p {
    font-size: 14px;
  }

  /* section */
  section {
    padding: 50px 0;
  }
  section h2 {
    font-size: 24px;
  }
  section p {
    font-size: 12px;
  }
}
footer > div {
  padding: 4.5vw 0 10vw;
  border-top: 1px solid #424547;
}
footer h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 25px;
}
footer a,
footer p {
  color: #8b98a3;
}
footer ul {
  padding-left: 0;
}
footer li {
  margin-bottom: 10px;
}
footer li a:hover {
  color: #8b98a3;
  text-decoration: underline;
}
.sns {
}
.sns a {
  display: inline-block;
  background: #2a2f3d;
  width: 32px;
  height: 32px;
  color: #fff;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  transition: 0.2s;
}
.sns a:hover {
  background: #939aac;
}
